:root {
    --controlsHeight: 50px;
    --iconSize: 2rem;
}

@media (max-width: 600px) {
    :root {
        --iconSize: 1.5rem;
    }
}

@media (max-width: 400px) {
    :root {
        --iconSize: 1rem;
    }
}

.LifeCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.LifeControls {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LifeControls > * {
    margin: 0 16px;
}