/* .Life {
    border: 1px solid black;
    width: 90vh;
    height: 90vh;
}

@media (orientation: portrait) {
    .Life {
        width: 90vw;
        height: 90vw;
    }
} */
.Life {
    width: 100vw;
    height: 100vh;
}